body {
    padding:10px 10px 10px 10px;
}

.wrapping {
    float: left;
    border-width: 2px;
    
}

#boxer {
  
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    width: min-content;
    text-align: left; 
}

.section_title {
    text-transform: uppercase;
    color: red;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: bold;
}



.section_text {
    font-family: Arial;
    font-weight:bold;
}
hr.double_line {
    border-top: 3px double #8c8b8b;
}
